body{
    	font-family: monospace;
    	font-size: 18px;
}

ul{
	margin-left:60px;
}

#name{
	display:inline;
}

div{
	font-family: Microsoft JhengHei;
	display:inline;
}

h1{
	margin-left:60px;
}

h2{
	margin-left:60px;
}

p{
	margin-left:60px;
}

#a{
 	text-align: center;
}

img{
  	position:absolute;
   	left:360px;
    	width:120px;
}

.Resume{
	margin-left:60px;
}
