body{
    font-family: monospace;
    font-size: 18px;
}

ul{
	margin-left:100px;
}

#name{
	display:inline;
}

div{
	font-family: Microsoft JhengHei;
	display:inline;
}

h1{
	margin-left:100px;
}

h2{
	margin-left:100px;
}

p{
	margin-left:100px;
}

#a{
    text-align: center;
}

img{
    position:absolute;
    left:430px;
    width:120px;
}

.Resume{
	margin-left:100px;
}
